
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Beranda</h5>
    <p class="card-text">Hello Semoga Hari mu Menyenangkan :)</p>
  </div>
</div>

<div class="container pt-2">
  <a href="/input" class="btn btn-primary">Tambah</a>
</div>

<div class="container pt-2">
</div>


<table class = "table table-success table-striped">
  <thead>
  <tr align="center">
    <th > ID Kategory</th>
    <th> ID Departemen</th>
    <th> Nama</th>
    <th> Deskripsi</th>
    <th> Aksi</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let Id of list" align="center">
    <td>{{Id.category_id}}</td>
    <td>{{Id.department_id}}</td>
    <td>{{Id.name}}</td>
    <td>{{Id.description}}</td>
    <td>
      <button type="button" (click)="deleteCateg(Id.category_id)" class="btn btn-danger">Delete</button>
<!--      <a href="/input" (click)="update()"   class="btn btn-primary m-2">Update</a>-->
  </tr>
  </tbody>
</table>
